@page "/Orders"
@using MediatR
@using OrderingApp.Logic.DTO
@using OrderingApp.Logic.Functions.Query.Order
@inject IMediator _mediator

<div style="padding-left:1.5vw; padding-top:1vh;">

    <h3>Orders</h3>

    <FluentDataGrid Items="@OrderDetails">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.RestaurantName)" Sortable="true" />
        <PropertyColumn Property="@(p => p.RestaurantType)" Sortable="true" />
        <PropertyColumn Property="@(p => p.CreationDate)" Format="yyyy-MM-dd" Sortable="true" />
    </FluentDataGrid>

</div>

@code {
    public IQueryable<OrderDetails> OrderDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var orders = await _mediator.Send(new GetAllActiveOrdersQuery());
        OrderDetails = orders.AsQueryable();
    }
}
